<h1>My tasks</h1>

<div>
  <% @tasks.each do |task| %>
    <p><%= link_to task.title, task_path(task) %></p>
    <%= link_to "Delete Task",
    task_path(task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <% end %>
</div>

<div>
  <p><%= link_to 'Add new task', new_task_path %></p>
</div>
