/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* INDEX PAGE */
 .task-card {
  padding: 10px 0px;
 }

 .delete-icon {
  padding: 10px;
 }

 .task-name a {
  text-decoration: none;
  padding-left: 10px;
 }

 ul {
  list-style-type: none;
 }

 .completed-icon {
  color: #0d6efd;
 }

 .new-task-link a {
  text-decoration: none;
 }


 /* SHOW PAGE */
.header .btn a {
  text-decoration: none;
}

.details {
  background-color: rgb(236, 236, 236);
  height: 70px;
  border-radius: 5px;
  padding-top: 22px;
  padding-left: 10px;
  border: 1px solid grey;
}

.list-btn {
  padding: 25px 0px;
}

.list-btn a {
  text-decoration: none;
}

.completed {
  background-color: rgb(251, 251, 251);
  height: 50px;
  border-radius: 5px;
  padding-top: 12px;
  padding-left: 10px;
  border: 1px solid rgb(184, 184, 184);
  margin-top: 10px;
}


/* CREATE PAGE */
.rtn-btn a {
  text-decoration: none;
}


/* FORM */
.completed-tag {
  width: 100%;
  padding-top: 10px;
}
/*
.completed-tag #text {
  margin-left: 10px;
} */


/* EDIT PAGE */
